@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/* Background colors for containers */

/*
.profile-card {
  background-color: hsla(60, 100%, 50%, .4);
}

.head {
  background-color: hsla(120, 100%, 50%, .4);
}

.content {
  background-color: hsla(120, 100%, 50%, .4);
}

.profile-image {
  background-color: hsla(300, 100%, 50%, .4);
}

.name-headline {
  background-color: hsla(300, 100%, 50%, .4);
}

.about {
  background-color: hsla(300, 100%, 50%, .4);
}

.links {
  background-color: hsla(300, 100%, 50%, .4);
}

÷/

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Gowun Dodum', sans-serif;
}

/* Positioning */

.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url('https://i.imgur.com/F1L9QNu.jpg') no-repeat center center fixed;
  background-size: cover;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
}

.content {
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}

.head, .about {
  margin-bottom: 10%;
}

.content {
  padding: 5% 10%;
}

/* Profile image */

.profile-image {
  margin-top: -60px;
}

img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid transparent;
  padding: 1px;
  filter: grayscale(10%);
  transition: all 0.5s ease-in-out;
}

img:hover {
  filter: grayscale(10%);
  transform: scale(1.1);
  background-color: #666;
}

.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .5) 10px 10px 80px;
}

.name-headline {
  margin-top: 20px;
}

/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
}
